*.html,body
{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Lucida Sans'; 
    background-image: url("2622012.jpg"), url("image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

h1 {
    text-align: center;
}


header
{
    background: #696952;
    color: #628E90;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fungtions
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: 'Times New Roman';
    font-size:18px;
}

.foto
{
    margin-left:30px;
}

.judul
{
    display: flex;
    flex-wrap: wrap;
    margin-top:60px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS';
    font-size: 24px;
}
